
/* Tools per struttura */ 
.my-bg-color-y{
    background-color: yellow;
}

.my-nav-struct{
    height: 50px;
} 








.my-size-cont{
    height: 250px;
} 



.sony{
    width: 100px;
}

.my-color-green{
    color: green;
} 
.my-color-red{
    color: red;
}

/* / Tools */ 

.my-bg-black{
    background-color: black;
} 
.my-color-blu{
    color: blue;
} 
.my-color-black{
    color: black;
}

.my-bg-color-silver{
    background-color: rgb(190, 188, 187);
}
.my-bg-color-buttom{
    background-color: rgb(217, 218, 220);
} 

.my-bg-color-blu{
    background-color: rgb(22, 28, 59);
}
.my-img{
    /* width: 100%;  */
    height: 100%;
} 
.my-brand{
    height: 50px;
}
header nav a.navbar-brand img{
    height: 60px; 
    width: 80px;
}

header{
    font-family:Helvetica, Arial,  sans-serif;
}

main{
    font-family: 'Ubuntu', sans-serif;
} 

.bg-color-footer{
    background-color: rgb(0, 67, 156);
}

.my-jumbo{
    height: 900px;
} 

.my-img-jumbo{
    background-image: url(../img/jumbo-bg.png); 
    background-position: center;  
    background-size: cover;
} 


.my-img-banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;  
    background-size: cover;
} 

.my-banner-plus{
    height: 450px;
}

.my-img-plus{ 
    width: 50%; 
    height: 50%;
} 



.my-btn{
    border-color:rgb(217, 218, 220); 
    border: transparent;
} 

.my-globe{
    width: 20px;
    height: 20px;
} 

.my-gold-logo{
    width: 100px; 
    
}
main section.card figure.card-game img:hover, 
main section#accessories figure.accessories img:hover, 
main section#accessories figure.accessories p { 
	transform: scale(1.1); 
    transition: ease-out .5s ;
} 

li:hover{
    text-transform:uppercase; 
    text-decoration: underline;
    transition: 1s; 
}