
/* Tools per struttura */ 
.my-bg-color-y{
    background-color: yellow;
}

.my-nav-struct{
    height: 50px;
} 

.my-bg-magenta{
    background-color: magenta;
}

.my-bg-color-jumbo{
    background-color: tomato;
}

.my-jumbo{
    height: 500px;
} 

.my-size-col{
    /* width: 100px; */
    height: 50px; 
    border: 1px solid black;
} 

.my-size-cont{
    height: 250px;
} 

.my-img{
    width: 100px;
    height: 100px; 
    border: 1px solid black;
}

/* / Tools */ 

.my-bg-color-silver{
    background-color: rgb(248, 249, 250);
}

header nav a.navbar-brand img{
    height: 60px; 
    width: 80px;
}

header{
    font-family:Helvetica, Arial,  sans-serif;
}

.my-bg-black{
    background-color: black;
} 
.my-brand{
    height: 50px;
}